/.vs
/TPLink_HS100_controller/publish
/TPLink_HS100_controller/bin
/TPLink_HS100_controller/obj
/TPLink HS1000 controller installer/AppPackages
/TPLink HS1000 controller installer/bin
/TPLink HS1000 controller installer/obj
